<!DOCTYPE html>
<html th:replace="~{member/base :: mainLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 상세</title>
</head>

<body>
<section>
    <h2>회원 상세 정보</h2>
    <hr>
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">회원 정보 카드</div>
            <div class="card-body">
                <h5 class="card-title" th:text="${member.username}">이름</h5>
                <p class="card-text" th:text="${member.email}">이메일@이메일</p>
                <p class="card-text" th:text="${memberInfo.phoneNumber}">전화번호</p>
                <p class="card-text" th:text="${memberInfo.job}">직업</p>

            </div>
        </div>
</section>
</body>
</html>